use_venv() {
    local path=${1:-$PWD/.venv}
    if [[ ! -d $path ]]; then
        virtualenv .venv
    fi

    export VIRTUAL_ENV=${path}
    export PATH=${path}/bin:$PATH

    if [[ -f $PWD/requirements.txt ]]; then
        python -m pip install -r $PWD/requirements.txt
        watch_file "$PWD/requirements.txt"
    fi
}

use_venv
